$fontColor: rgb(245, 245, 245);
$backgroundColor:#2C3E50;
$sactionColor: #1ABC9C ;

footer{
    div{
        font-size: 15px;
        text-align: center;
        padding: 10px 5px;
        color: gray;
        background-color: rgb(61, 60, 60);
    }
}