$fontColor: rgb(245, 245, 245);
$backgroundColor:#2C3E50;
$sactionColor: #1ABC9C ;


.my-projects{
    .container{
        display: grid;
        grid-template-columns: auto auto auto;
        margin: 1% 10% !important;
        div.projects{
            // position: relative;
            // display: block;
        a{
            color: $backgroundColor;
            text-decoration: none;
            // position: absolute;
            // bottom: 0;
            text-align: center;
            // 
            // color: #fff;
            &:hover{
                opacity: 0.75;
                background: rgba(244, 98, 58, 0.9);
                // z-index: 1;
                transition: all 0.25s ease;
                text-align: center;}
                
            h6{
                font-size: 30px;
                // text-align: center;
                margin: 0px 1px !important;
                padding: 0px 10px;
                
            }
            img{
                height: 240px;
                width: auto;
                border-radius: 10px;

            }
            p{
                font-size: 10px;

            
            }
          
        }
                }
    }
}
